.component-btn-number {
    width: 30px;
    height: 30px;

    color: black;
    text-align: center;
    font-size: 2rem;
    border: none;

    padding: 12px;
}

input:hover, input:focus {
    background-color: rgb(201, 201, 201);
}

